<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Equipment</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/js/equipment.js"></script>
</head>
<body>
<p>Name: <span id="name"th:text="${@session.mage.name}"></span></p>
<p>Gold:<span id="gold" readonly></span></p>
<p>Health Potions:<span id="hp-potions" readonly></span></p>
<p><input value="0" id="hp-potions-number"><button id="buyHealthPotion" type="button" name="healthPotion">Buy Health Potions</button>Cost:<span id="hp-potion-cost"></span></p>
<p>Mana Potions:<span id="mana-potions" readonly></span></p>
<p><input value="0" id="mana-potions-number"><button id="buyManaPotion" type="button" name="manaPotion">Buy Mana Potions</button>Cost:<span id="mana-potion-cost"></span></p>
<br>
<h4>Equipment:</h4>
<p class="item" id="weapon_p"><span>Weapon:<span id="weapon" name="weapon"></span>  Damage: <span id="damage"></span><button type="button" name="weapon"  class="sell">Sell</button>value:<span class="val" id="weaponval"></span></span></p>
<p class="item" id="armor_p"><span>Armor:<span name="armor" id="armor"></span>  Damage Reduction: <span id="damageReduction"></span><button type="button" name="armor"  class="sell">Sell</button>value:</span><span class="val" id="armorval"></span></p>
<p class="item" id="lring_p"><span>Left Hand Ring:<span name="leftHandRing" id="lring" ></span><button type="button" name="leftHandRing" class="sell" >Sell</button>value:</span><span class="val" id="lringval"></span>    <span id="lringdesc"></span></p>
<p class="item" id="rring_p"><span>Right Hand Ring:<span name="rightHandRing" id="rring"></span><button type="button" name="rightHandRing" class="sell">Sell</button>value:</span><span class="val" id="rringval"></span>   <span id="rringdesc"></span></p>

<h4>Shop:</h4>
<h5>Weapons:</h5>
<table id="weapons">
</table>
<h5>Armors:</h5>
<table id="armors">
</table>
<h5>Rings:</h5>
<table id="rings">
</table>
<p><a class="btn btn-primary" role="button" th:href="@{/}">Back</a></p>
</body>
</html>